*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: El Messiri;
    src: url(./assets/fonts/ElMessiri.ttf);
}

header
{
    position: relative;
    background-color: black;
    display: flex;
    justify-content: center;
    height: 235px;
}

header > img
{
    position: absolute;
    top: 0;
    left: 0;
}

header .butons
{
    display: flex;
    flex-wrap: wrap;
    width: 712px;
    justify-content: space-between;
    gap: 19px;
}

.buton1{
    height: 52px;
    width: 288px;
    border-radius: 12px;
    background-color: #D9D9D9;
    font-family: El Messiri;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.buton2{
    height: 52px;
    width: 288px;
    border-radius: 12px;
    background-color: #D9D9D9;
    font-family: El Messiri;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.buton3{
    width: 709px;
    height: 52px;
    border-radius: 12px;
    background-color: #D9D9D9;
    font-family: El Messiri;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

header p
{
    font-family: El Messiri;
    font-size: 64px;
    font-weight: 700;
    line-height: 100.03px;
    text-align: left;
    color: white;
}



.divNav{
    height: 567px;
    background-image: url(./assets/img/image\ 1.png);
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
}

.divNav > div{
    width: 902px;
    margin-bottom: 75px;
}

.divNav h2{
    font-family: El Messiri;
    font-size: 64px;
    font-weight: 600;
    line-height: 100.03px;
    text-align: left;
}

.divNav > div p{
    font-family: El Messiri;
    font-size: 32px;
    font-weight: 700;
    line-height: 50.02px;
}

nav{
    width: 563px;
    height: 431px;
    border-radius: 29px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav p{
    font-family: El Messiri;
    font-size: 40px;
    font-weight: 700;
    line-height: 62.52px;
    text-align: center;
    margin-bottom: 10px;
    color: #FFFFFF;
}

nav button{
    width: 481px;
    height: 67px;
    border-radius: 12px;
    font-family: El Messiri;
    font-size: 40px;
    font-weight: 700;
    line-height: 62.52px;
    text-align: center;
}



.timeMachine{
    height: 768px;
    margin-top: 16px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.timeMachine h2{
    font-family: El Messiri;
    font-size: 64px;
    font-weight: 700;
    line-height: 100.03px;
    text-align: center;
    color: white;
}

.timeMachine p{
    width: 1022px;
    font-family: El Messiri;
    font-size: 32px;
    font-weight: 700;
    line-height: 50.02px;
    text-align: left;
    color: white;
}

.timeMachine div{
    display: flex;
    justify-content: center;
    align-items: center;
}



.ourCalculations{
    margin-top: 16px;
    height: 736px;
    display: flex;
    flex-direction: column;
    gap: 49px;
    background: #222222;
}

.ourCalculations h2{
    font-family: El Messiri;
    font-size: 64px;
    font-weight: 700;
    line-height: 100.03px;
    text-align: center;
    color: white;
}

.ourCalculations > div{
    display: flex;
    justify-content: space-around;
}

.ourCalculations > div > div{
    width: 748px;
    height: 526px;
    border-radius: 42px;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourCalculations > div > div p{
    font-family: El Messiri;
    font-size: 36px;
    font-weight: 700;
    line-height: 56.27px;
    text-align: center;
}

.ourCalculations > div > div:nth-child(1) p{
    width: 696px;
}

.ourCalculations > div > div:nth-child(2) p{
    width: 674px;
}



.Journeys{
    margin-top: 16px;
    height: 835px;
    background: #222222;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Journeys h2{
    font-family: El Messiri;
    font-size: 64px;
    font-weight: 700;
    line-height: 100.03px;
    text-align: center;
    color: white;
}

.Journeys > div{
    display: flex;
    justify-content: space-around;
}

.Journeys p{
    font-family: El Messiri;
    font-size: 36px;
    font-weight: 400;
    line-height: 56.27px;
    text-align: center;
    color: white;
}

.Journeys img{
    height: 443px;
    width: 525px;
}